*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(222, 234, 245);
    overflow: hidden;
    
}
body{background-color: #40dbad}

#header{
    width: 100%;
    background-color: rgb(16, 148, 108);
    text-align: center;
    position: relative;
    z-index: 6;
}

#left{
    width: 20%;
    background-color: #40dbad;
    float: left;
}

#right{
    width: 20%;
    background-color: rgb(64, 219, 173);
    float: left;
}
#footer{
    clear: both;
}

#mid{
    width: 60%;
    background-color: #3bc299;
    float: left;
    z-index: 3;
    position: relative;
    
}


#kingIcon{
    z-index: 6;
    position: absolute;
    top: 0;
    left: 160px;
    
}

#kingIconBack{
    z-index: 4;
    position: relative;
    
    
}

#gradient{
    z-index: 5;
    height: 100%;
    width: 100%;
    top: -118px;
    left: 0;
    position: relative;
    text-align: center;
}


/* treść komentarza, ignorowana przez przegladarkę internetową */

input, button{
    width: 90%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}

input:focus, button:hover{
    border-color: red;
    box-shadow: 0 0 8px 0 red;
}
ul{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    list-style-type: circle;
    

}
li:first-child{margin-top:0px};
li{
    margin-top:30px;
    text-align: center;
    font-size: 50px;
};

li:hover{
    text-decoration: line-through;
    text-decoration-color: crimson;
}

#counter{
   z-index: 10;
   color: black;
   font: bold;
   font-size: 150%;
   position: relative; 
   
   left: 950px;
}



li::before,
li::after{
content: "";
background-size: 40px 40px;
display: inline-block;
width: 40px; 
height: 40px;

}

li::before{background-image: url("delete.png");}
li::after{background-image: url("done.png");}
